RequestHander/RequestHandler.Example.Client/Service References/ExampleService/ExampleOne.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RequestHandler.Example.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RequestHandler.Example.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetTheTimeRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetTheTimeRequest" nillable="true" type="tns:GetTheTimeRequest" />
  <xs:complexType name="GetTheTimeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTheTimeResponse" nillable="true" type="tns:GetTheTimeResponse" />
</xs:schema>